<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyOSPF v{$version}</title>
	<script src="/js/libs-{$version}.js"></script>
	<link rel="stylesheet" href="/css/libs-{$version}.css">
	<link rel="stylesheet" href="/css/release-{$version}.css">
</head>

<body>
	{include content}
	<script src="/js/release-{$version}.js"></script>
	{block js}
	{/block}
	{foreach $flashes as $flash}
		<script>
			swal({
				position: 'top-end',
				type: {$flash->type},
				title: {$flash->message},
				showConfirmButton: false,
				timer: 1500
			})
		</script>
	{/foreach}
</body>
</html>
