{block content}
<div id="cy"></div>
	<div class="toolbar">
		Změnit topologii:
	<button id="randome">Náhodně</button>
	<button id="circle">Kruh</button>
		<button id="grid">Grid</button>
		<button id="topology">Rozumně</button>
		<a href="" id='redirHref' target="_blank"></a>
	</div>
{/block}
{block js}

{/block}